<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Box Icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Style CSS -->
    <link rel="stylesheet" href=" {% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/advantages.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/team.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'store/fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles/media.css' %}">
</head>
<body>
    {% include 'store/navbar.html' %}
    {% block content %} {%endblock%}
    {% include 'store/footer.html' %}
<script src="{% static 'store/js/main.js' %}"></script>
<script src="{% static 'store/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'store/scripts/script.js' %}"></script>

</body>
</html>