{% extends 'store/base.html' %}
{% load static %}
{% block content %}

        <main class="main">
            <section class="intro-single">
            <!-- NEW -->
            <div class="container">
            <div class="row">

            <div class="news">
                <div class="col-md-12 col-lg-8">
                <img src="/media/{{new.image}}" alt="">
                <h2 class="title">{{new.title}}</h2>
                <div class="line"></div>
                <p class="text">{{new.description}}</p>
               </div>
               </div>
               </div>
               </div>
                </section >
        </main>


{% endblock content %}