{% extends 'store/base.html' %}
{% load static %}
{% block content %}

        <main class="main">
            <!-- OUR COURSES SECTION -->
            <section class="profile">
                <div class="profile__title">
                    <h1>PROFILE</h1>
                </div>
               <div class="profile__container">
                   <div class="profile__sidebar">
                       <div class="my__courses">
                           <a href="#">My courses</a>
                       </div>
                       <div class="edit__profile">
                           <a href="#">Edit Profile</a>
                       </div>
                       <div class="user__log__out">
                           <a href="#">
                            <span>Log out</span>
                            <i class='bx bx-log-in'></i>
                           </a>
                       </div>
                   </div>
                   <div class="profile__info">
                       <div class="user__info">
                           <div class="user__info__avatar">
                               <div class="change__avatar">
                                <i class='bx bxs-camera-plus'></i>
                               </div>
                               <img src="../images/bgcolor.png" alt="Avatar">
                           </div>
                           <div class="user__info__name">
                               <h3>Name</h3>
                               <h1>Shakhzod Tojiyev</h1>
                           </div>
                           <div class="user__info__number">
                            <h3>Phone number</h3>
                            <h1>+99899 534-77-36</h1>
                        </div>
                       </div>
                       <div class="user__input">
                            <div class="change__user__name">
                                <p>Enter your details to make changes</p>
                                <div class="user__name__inputs">
                                    <input type="text" placeholder="Name" name="name" id="name" required>
                                    <input type="text" placeholder="Surname" name="surname" id="surname" required>    
                                </div>
                            </div>
                            <div class="change__user__password">
                                <p>Change password</p>
                                <div class="user__password__inputs">
                                    <input type="password" placeholder="New password" name="password" id="password" required>
                                    <input type="password" placeholder="Confirm new password" name="con_password" id="con_password" required>  
                                </div>
                            </div>
                       </div>
                       <div class="user__button">
                           <button>Cancle</button>
                           <button>Save</button>
                       </div>
                   </div>
               </div>
            </section>
        </main>


{% endblock content %}