{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<main class="main">
   <section class="team" id="team">
                <div class="team__title">
                    <h1>OUR TEAM</h1>
                </div>
                 <div class="team__container">
                     <!-- Item 1 -->
                     {% for team in teams %}
                      {% if forloop.counter0 < 3 %}
                     {% if not forloop.counter|divisibleby:2 %}


                     <div class="team__item">
                         <div class="team__person_photo">
                             <img src="/media/{{team.image}}" alt="Photo">
                         </div>
                         <div class="team__person_info">
                             <div class="team__person_name">
                                 <h1>{{team.name}}</h1>
                             </div>
                             <div class="team__person_about">
                                 <h3>
                                     {{team.degree}}
                                 </h3>
                             </div>
                             <div class="team__person_about__description">
                                 <span></span>
                                 <p>
                                     {{team.description}}
                                 </p>
                             </div>
                         </div>
                     </div>

                     {% else %}
                     <div class="team__item flex-reverse">
                        <div class="team__person_info">
                            <div class="team__person_name">
                                <h1>{{team.name}}</h1>
                            </div>
                            <div class="team__person_about">
                                <h3>
                                    {{team.degree}}
                                </h3>
                            </div>
                            <div class="team__person_about__description">
                                <span></span>
                                <p>  {{team.description}}  </p>
                            </div>
                        </div>
                        <div class="team__person_photo">
                            <img src="/media/{{team.image}}" alt="Photo">
                        </div>
                    </div>
                     {% endif %}
                     {% endif %}
                     {% endfor %}

                 </div>
            </section>
    <div class="container">
    <div class="row">
    <div class="our__team">

        <img class="guvohnoma" src="{% static 'store/images/Guvohnoma.jpg' %}" alt="">
    </div>
    </div>
    </div>
      </main>
{% endblock content %}
