{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="our__team">
                <h1 class="our__team-title">OUR TEAM</h1>
                <div class="team">
                    <div class="team__right">
                        <img class="team__img" src="./img/team-1.png" alt="img">
                    </div>
                    <div class="team__left">
                        <h2 class="team__title"> Lorem, ipsum.</h2>

                        <h3 class="team__title2">
                            Lorem ipsum dolor sit amet.
                        </h3>

                        <div class="line"></div>

                        <p class="team__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim velit ab explicabo totam debitis fuga, quod iste ex eum fugiat, accusamus quas dignissimos quam culpa. Animi quod eveniet quaerat quia pariatur. Iusto officiis quidem quisquam alias,</p>
                    </div>
                </div>
                <div class="team">
                    <div class="team__right">
                        <img class="team__img" src="./img/team-1.png" alt="img">
                    </div>
                    <div class="team__left">
                        <h2 class="team__title"> Lorem, ipsum.</h2>

                        <h3 class="team__title2">
                            Lorem ipsum dolor sit amet.
                        </h3>

                        <div class="line"></div>

                        <p class="team__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim velit ab explicabo totam debitis fuga, quod iste ex eum fugiat, accusamus quas dignissimos quam culpa. Animi quod eveniet quaerat quia pariatur. Iusto officiis quidem quisquam alias,</p>
                    </div>
                </div>
                <div class="team">
                    <div class="team__right">
                        <img class="team__img" src="./img/team-1.png" alt="img">
                    </div>
                    <div class="team__left">
                        <h2 class="team__title"> Lorem, ipsum.</h2>

                        <h3 class="team__title2">
                            Lorem ipsum dolor sit amet.
                        </h3>

                        <div class="line"></div>

                        <p class="team__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim velit ab explicabo totam debitis fuga, quod iste ex eum fugiat, accusamus quas dignissimos quam culpa. Animi quod eveniet quaerat quia pariatur. Iusto officiis quidem quisquam alias,</p>
                    </div>
                </div>
                <img class="guvohnoma" src="./img/Guvohnoma.jpg" alt="">
            </div>
        </div>
    </div>

{% endblock content %}
